body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 15px 10px;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    z-index: 999;
    white-space: nowrap;
    transition: transform 0.5s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cabecalho::after {
    background-color: #f4f4f4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.referencias {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-right: 17px;
    width: auto;
    height: auto;
    margin-left: 20px;
}

.referencias nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    margin-left: 0;
    margin-right: 0;
}

.referencias nav a {
    color: rgb(0, 0, 0);
    margin: 6px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 22px;
    margin-left: 10px;
    transition: color 0.3s ease;
    white-space: nowrap;
    position: relative;
}

.referencias nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -3px;
    left: 50%;
    background-color: rgb(0, 119, 255);
    transition: width 0.3s ease, left 0.2s ease;
}

.referencias nav a.pagina-atual::after,
.referencias nav a:hover::after {
    width: 100%;
    left: 0;
}

.referencias nav a:hover {
    pointer-events: auto;
    color: rgb(0, 119, 255);
}

.referencias nav a.pagina-atual:hover {
    pointer-events: none;
}

nav .pagina-atual {
    color: rgb(0, 119, 255) !important;
}

.bloco {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.newCad {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -100px;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="submit"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}